#name {
    color: #ffffffd2;
    font-family: 'Julius Sans One', sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.jumbotron{
    height: 400px;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
}